/* Move down content because we have a fixed navbar that is 50px tall */
#page-top {
  font-family: 'Raleway', Sans-Serif;
  font-style: normal;
  font-weight: 300;
  color: #fff; 
  font-size: 16px;
}
body {
  padding-top: 10px;
  background-color: #fff;
  padding-bottom: 20px;
}
.img-fluid {
  padding-top: 20px;
}
.grpDining {
  font-family: 'Raleway', Sans-Serif;
  font-weight: 300;
  line-height: 46px;
  font-size: 45px;
  margin: 0 0 23px 0;
  text-align: center;
  margin-left: 15px;
}
.naviColor {
  font-family: 'Raleway', Sans-Serif;
  font-weight: 300;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
}
.nav-link {
  color: #fff !important;
}

.hero {
  background: url(../img/frSideView.jpg) no-repeat center;
  height: 500px;
}
.background {
  margin-top: 12%;
  background-color: #000;
  opacity: 0.7;
}
.sideViewRoom {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 70px;
  text-align: center;
  color: #fff;
  
}

hr.style14 { 
  max-width: 90%;
  height: 0px;
  border: 0;
  border-bottom: 2px solid #d8d8d8;
}

.headerQuote {
  font-family: 'Cormorant Garamond', sans-serif;
  text-align: left;
  font-size: 44px;
  color: #2E0014;
}
.lead {
  color: #2E0014;
  text-align: left;
  font-size: 16px;
}
.hours {
  text-align: center;
  font-family: 'Raleway', Sans-Serif;
  font-size: 30px;
  margin-top: 25px;
}

.footerRow {
  font-family: 'Raleway', Sans-Serif;
  font-weight: 300; 
  background: orange;
  color: #fff;
  text-align: center;
  padding-bottom: 30px;
}
.addressInfo {
  font-family: 'Raleway', Sans-Serif;
  font-style: normal;
  font-weight: 300;
  color: #fff; 
  font-size: 18px;
}
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #F05F40;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #f05f40; }
  #mainNav .navbar-toggle {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
      color: #F05F40; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active,
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: #F05F40 !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: rgba(255, 255, 255, 0.3);
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: white; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
        color: rgba(255, 255, 255, 0.7); }
        #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
        #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
          color: white; }
      #mainNav.navbar-shrink {
        border-color: rgba(34, 34, 34, 0.05);
        background-color: white; }
        #mainNav.navbar-shrink .navbar-brand {
          font-size: 16px;
          color: #F05F40; }
          #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
            color: #f05f40; }
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
        #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
          color: #222222; }
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
          #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
            color: #F05F40; } }