 #page-top {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #fff; 
  font-size: 30px;
}

.contactHR {
  border-color: #2E0014;
}
.mailto {
  color: #2E0014; 
}
#footer {
  background-color: #2E0014;
  height: 20px;
}
.carouselText {
  font-size: 45px;
  color: #2E0014;
  background-color: #fff;
}

.addressTop {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #fff; 
  font-size: 18px;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
.about {
  text-align: left;
  color: #000;
  padding: 0px;
}
.aboutSentence {
  font-family: 'Open Sans', Sans-Serif;
  font-size: 25px;
  margin-left: 20px;
}

.col-md-8 {
  padding: 0px;
}

.aboutFont {
  font-family: 'Raleway', Sans-Serif;
  font-size: 44px;
  margin-top: 20px;
  margin-left: 20px;
}
.textBackgroundBlock {
  background-color: #fff;
  opacity: 0.8;
}

#logo {
width: 500px;
padding-top: 200px;
}
#beerSection {
  color: #2E0014;
  background-color: #ececec;
  margin-top: 95px;
  padding-bottom: 10px;
  padding-top: 35px;
}
.beerOverlay {
  font-family: 'Raleway', Sans-Serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
}
.benQuotes {
  color: #2E0014;
  background-color: #ececec;
  padding: 100px 0px 12px;
}
.quoteOverlay{
  font-family: 'Raleway', Sans-Serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  margin-top: -70px;
}
#services {
  background-color: #fff;
}
#contact{
  color: #000;
  background-color: #fff;
  padding: 90px 0px;
}

.hours {
  text-align: center;
  font-family: 'Raleway', Sans-Serif;
  font-size: 35 px;
  margin-top: 35px;
}
.portfolio-box .portfolio-box-caption  {
  background: #7c0018 !important  
}

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
/*

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
/*css for full size background image*/
  background: url(../img/heroBurger.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 25%;
  color: #000;
  text-align: center;
}
.fa-circle {
  font-size: 5px;
}

.cover-heading {
  font-size: 5em;
}

.icon {
  margin-top: 10px;
}
.menu {
  margin-top: 50px;

}
.menuBkgrnd {
  background-color: #fff;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

/* Padding for spacing */
.inner {
  /*padding: 30px;*/
}

/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.menuNav {
  background-color: #fff;
}
@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.footerRow {
  font-family: 'Raleway', Sans-Serif;
  font-weight: 100; 
  background: #000;
  color: #fff;
}


.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}